<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin2 Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div align="center">
	<h3 class="btn-warning">OBM Management</h3></div>
	
	<div class="container">

		
		<div align="right"><a class="btn mini red-stripe" th:href="@{/logout}" >Logout</a>
</div>
		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					File List for these week
				</div>
				<table class="table table-bordered">
					<thead class="thead-light">
						<tr>
							<th>File Name</th>
							<th>Owner</th>
							<th>Last Modified Date</th>
							<th>Download</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="file : ${files}">
							<td th:text="${file.name}">&nbsp;</td>
							<td th:text="${file.owner}">&nbsp;</td>
							<td th:text="${file.lastmodified_date}">&nbsp;</td>
							<td><a class="btn mini red-stripe" th:href="@{'/download/' + ${file.name}}">Download</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="panel panel-primary">
				<div class="panel-heading">
					Users who have pending to upload their timesheet
				</div>
				<table class="table table-bordered">
					<thead class="thead-light">
						<tr>
							<th>User Name</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${pendingUser}">
							<td th:text="${user.name}+' '+${user.lastName}">&nbsp;</td>
							<td th:text="${user.email}">&nbsp;</td>
							<td><a class="btn mini red-stripe" th:href="@{'/send-mail/'+${user.email}}">Send Reminder</a></td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<form th:action="@{'/sendto-all/'+${eParams}}" method="POST" class="form-reminder" >
		<button class="btn btn-lg btn-primary btn-block" type="Submit" >Send Reminder To All</button>
		<!-- <a th:href="@{'/sendto-all/'+${eParams}}">sendmail</a> -->
		</form>

	</div>
</body>
</html>